/* src/App.css */
body.light {
  --background-color: #fff;
  
}

body.dark {
  --background-color: #333;

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.layoutContainer {
  height: 100vh; /* Ensure full height for the layout */
}
.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #ffffff;
  border-bottom: 1px solid #e1e1fb;
  width: 100%;
  position: static;
}
.headLogo {
  display: flex;
}
.proInput {
  display: flex;
  width: 50%;
  border: 1px solid #5541D7;
  height: 40px;
  border-radius: 4px;
  padding: 10px 10px;
}
.proSearch {
  width: 100%;
  height: fit-content;
  border: none;
  outline: none;
  font-family: Mulish;
  font-size: 14px;
  letter-spacing: 0.008em;
  margin-top: 6px;
  text-align: left;
}
h2 {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.005em;
  text-align: left;
  margin-left: 3px;
}
.collapsed-Image{
  display: none;
}
.proName {
  font-family: Mulish;
  font-size: 16px;
  text-align: left;
}
.proEmail {
  font-family: Mulish;
  font-size: 0.75rem;
  text-align: left;
}
.proDetails {
  margin-left: 10px;
  margin-right: 10px;
}
.profile {
  display: flex;
  position: relative !important;
  cursor: pointer;
}
.proImage {
  height: 30px;
}
.drop-down{
  position: absolute;
  top: 48px;
  left: 0px;
  background: #f9f9f9;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  width: 150px;
  font-family: mulish;
  white-space: nowrap;
}
.drop-ulist{
  list-style-type: none;
  padding: 10px;
  margin-bottom: 0px;
  text-align: left;
}
.droplist{
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidebar {
  background: #ffffff;
  padding: 1.25rem;
 
  left: 0;
  top: 0;
  bottom: 0;
  width: 200px; /* Fixed width for the sidebar */
  height: 100vh; /* Full height */
}
.sideInfo {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid #e1e1fb;
  padding-bottom: 15px;
}
.sideImg {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  opacity: 0px;
  background: #e2e2ea;
}
.sideUserInfo {
  margin-left: 5px;
}
.sideName {
  font-family: Mulish;
  color: #11142d;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
.sideStatus {
  font-family: Mulish;
  font-size: 9px;
  font-weight: 700;
  line-height: 9.9px;
  letter-spacing: 0.008em;
  text-align: left;
  color: #5541d7;
}

.sidebar h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
  color: #11142d;
  font-family: Mulish;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
}
.lastt {
  margin-top: 150px;
}
.listImage {
  margin-bottom: -2%;
  margin-right: 10px;
}

.sidebar ul li.active {
  background-color: #763fd7;
  color: white;
  padding-left: 10px;
  border-radius: 10px;
}

.dashboard {
  display: grid;
  grid-template-columns: 200px 1fr;
  overflow-y: scroll;
}

main {
  padding: 20px;
  height: 100vh;
  overflow-y: auto;
}

/* Responsive Styling */
@media (max-width: 768px) {
  .top-bar {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .product-data,
  .store-performance {
    grid-column: span 1;
  }
  .sidebar{
    display: none;
    width: 100%;
  }
  .sidebar ul li.active {
    background-color: #763fd7;
    color: white;
    padding: 15px;
  }
  .collapsed-sidebar{
    display: flex;
  }
  .sideInfo{
    display: none;
  }
  .dashboard {
   grid-template-columns: 1fr;
  }
  .collapsed-Image{
    margin-right: 700px;
    display: flex;
    float: left;
  }
}

@media(max-width: 450px) {
  .collapsed-Image{
    margin-right: 260px;
    display: flex;
    float: left;
  }
  
}